<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ISL Scrapper [Pure CSS]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Antic'>

  <!-- <link rel="stylesheet" href="/home/deepak/Internship/Scrapping/Data-scraping/static/styles/style.css"> -->
  <link rel="stylesheet" href="static/styles/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
  <div align="center">
  <br>
  <br>
  <br>
  <div class="text">ISL Scrapper</div>
  <br>
  <br>
  <br>
  <form action = "https://isl-data.herokuapp.com/p1" method = "POST">
    <input type="text"  class="button" placeholder="P1 DATA FROM HERE" name="url"/><br><br>
    <input type="submit" class="btn btn-primary btn-lg" value="GET P1 DATA"/>
  </form>
  <br><br>
  <form  action = "https://isl-data.herokuapp.com/p2" method="POST">
    <input  type="text" class = "button" placeholder="P2 DATA FROM HERE" name = "p2_url"><br><br>
    <input type="submit" class="btn btn-primary btn-lg" value="GET P2 DATA"/>
  </form>
  <br><br>
  <form  action = "https://isl-data.herokuapp.com/ileague" method="POST">
    <input  type="text" class = "button" placeholder="I-LEAGUE DATA FROM HERE" name = "p2_url"><br><br>
    <input type="submit" class="btn btn-primary btn-lg" value="GET I-LEAGUE DATA"/>
  </form>

  </form>
  <script src='https://use.edgefonts.net/amaranth.js'></script>


</body>
</html>
