<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ISL Scrapper [Pure CSS]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Antic'>

  <!-- <link rel="stylesheet" href="static/styles/style.css"> -->
  <link rel="stylesheet" href="static/styles/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
  <div align="center">
  <br>
  <br>
  <br>
  <div class="text">ISL Scrapper</div>
  <br>
  <br>
  <br>
  <form action = "https://isl-data.herokuapp.com/result" method = "POST">
    <input type="text"  class="button" placeholder="Match URL....." name="url"/><br><br>
    <input type="submit" class="btn btn-primary btn-lg" value="GET THE DATA"/>
  </form>
  <script src='https://use.edgefonts.net/amaranth.js'></script>


</body>
</html>
